.ae{
    background-color: #fff;
}

.option1{
    color: black;
    font-size: 1.4rem;
}

.divs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.divs p{
    margin-bottom: 0;
    font-size: 1.5rem;
}
